{% extends 'base.html.twig' %}

{% block title %}Film index{% endblock %}

{% block body %}
    <h1>Film index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Auteur</th>
                <th>DateCreation</th>
                <th>Description</th>
                <th>Genre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for film in films %}
            <tr>
                <td>{{ film.id }}</td>
                <td>{{ film.title }}</td>
                <td>{{ film.auteur }}</td>
                <td>{{ film.dateCreation ? film.dateCreation|date('Y-m-d') : '' }}</td>
                <td>{{ film.description }}</td>
                <td>{{ film.Genre }}</td>
                <td>
                    <a href="{{ path('app_film_show', {'id': film.id}) }}">
                        <button type="button" class="btn btn-success">Show</button>
                    </a>
                    <a href="{{ path('app_film_edit', {'id': film.id}) }}">
                        <button type="button" class="btn btn-warning">Edit</button>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_film_new') }}">
        <button type="button" class="btn btn-primary">Create new</button>
    </a>

    <div class="row mt-5">
     {% for film in films %}
      <div class="col-lg-4 mb-5">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" 
        src="https://i.pcmag.com/imagery/reviews/05cItXL96l4LE9n02WfDR0h-5..v1582751026.png">
        <h2 class="fw-normal">{{ film.title }} - [{{ film.genre }}]</h2>
        <h3 class="fw-normal">Author : {{ film.auteur }}</h2>
        <p>{{ film.description }}</p>
        <p><a class="btn btn-secondary" href="{{ path('app_film_show', {'id': film.id}) }}">View details »</a></p>
      </div><!-- /.col-lg-4 -->
     {% endfor %}
    </div>

{% endblock %}
